DB_URL=sqlite:////./storage/files/data.db
CACHE_DB_URL=sqlite:////./storage/files/cache.db

MT_TOKEN=a8d01dcb0d3951256ae216dda3d4f096
MT_SENDER=hello@demomailtrap.co
MT_RECIEVER=ripplehkg@gmail.com

REDIS_CONNECTION=http://0.0.0.0:6158

