DB_URL=sqlite:////./storage/files/data.db
ALLOW_ORIGINS=http://0.0.0.0:8000,http://localhost:5173,http://0.0.0.0:50233
REDIS_CONNECTION=http://0.0.0.0:6158
REDIS_PORT=6379
HASHING_ALGORITHM=HS256
SESSION_COOKIE=session_id
STORAGE_PATH=./storage/
